appnope
asttokens
backports-tarfile
bashlex
bjpmodel
bracex
certifi
cffi
charset-normalizer
cibuildwheel
colorama
comm
contourpy
cryptography
cycler
cython
debugpy
decorator
dependency-groups
docutils
executing
filelock
fonttools
id
idna
importlib-metadata
iniconfig
ipykernel
ipython-pygments-lexers
ipython
jaraco-classes
jaraco-context
jaraco-functools
jedi
jeepney
jupyter-client
jupyter-core
keyring
kiwisolver
markdown-it-py
matplotlib-inline
matplotlib
mdurl
more-itertools
nest-asyncio
nh3
normtransform
numpy
packaging
pandas
parso
pexpect
pillow
platformdirs
pluggy
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
pygments
pyparsing
pytest-github-actions-annotate-failures
pytest
python-dateutil
pytz
pywin32-ctypes
pywin32
pyzmq
readme-renderer
requests-toolbelt
requests
rfc3986
rich
scipy
secretstorage
setuptools
six
stack-data
tornado
traitlets
twine
typing-extensions
tzdata
urllib3
wcwidth
zipp
